body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #18181c;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2em;
    color: white;
    font-size: 24px; /* Aumenta el tamaño del texto */
}

/* Estilos para el encabezado */
header {
    position: relative; /* Permitir posicionamiento relativo */
}

/* Estilos para el contenedor del título */
.encabezado-contenedor {
    background-image: url('https://static.invenglobal.com/upload/image/2020/08/13/o1597361719998783.jpeg'); /* Reemplazar con tu imagen */
    background-size: cover;
    background-position: bottom;
    color: #fff;
    -webkit-text-stroke: 2px black;
    text-align: center;
    padding: 5em 0;
    height: 50vh; /* Ajusta esta altura según sea necesario */
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    background-color: rgba(0, 0, 0, 0.9); /* Fondo negro semi-transparente */
    padding: 0.5em 2em;
    border-radius: 5px; /* Bordes redondeados */
    color: #fff; /* Color del texto */
    margin: 0 auto; /* Centra el elemento */
}

.CAS_Logo {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.IB_Logo {
    height: 50px;
    position: absolute; 
    right: 10px; 
    top: 10px;
}

.texto_inicio {
    margin: 0;
    padding: 1em;
    text-align: justify;
    max-width: 1000px;
}

.imagen_inicio {
    width: 50%;
    height: auto;
    max-width: 50%;
}

.no-underline {
    text-decoration: none;
    color: inherit
}

/* Estilos para la barra de navegación */
nav.barra-navegacion {
    background-color: rgba(0, 0, 0); /* Fondo semi-transparente */
    padding: 1em 0;
    position: relative; /* Posicionamiento absoluto */
    bottom: 0; /* Al fondo del encabezado */
    width: 100%; /* Ancho completo */
    text-align: center; /* Centrar los botones */
}

/* Estilos específicos para los botones de navegación */
nav.barra-navegacion button {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1em;
    margin: 0 5px; /* Espacio entre botones */
}

nav.barra-navegacion button:hover {
    border-bottom: 1px solid #fff; /* Añade una línea debajo */
}

footer {
    background-color: rgba(0, 0, 0); /* Fondo semi-transparente */
    color: #fff;
    padding: 1em 0;
    position: relative; /* Posicionamiento absoluto */
    bottom: 0; /* Al fondo del encabezado */
    width: 100%; /* Ancho completo */
    text-align: center; /* Centrar los botones */
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    main {
        padding: 1em;
        font-size: 20px; /* Reduce el tamaño del texto */
    }

    .encabezado-contenedor {
        padding: 3em 0;
        height: 40vh;
        font-size: 24px;
    }

    .titulo {
        padding: 0.5em 1em;
        font-size: 1.5em;
    }

    .CAS_Logo {
        width: 80%;
        height: auto;
        max-width: 300px;
    }

    .IB_Logo {
        height: 50px; /* Reducir el tamaño */
        right: 1px; /* Ajustar la posición a la derecha */
        top: 5px; /* Ajustar la posición superior */
    }

    .texto_inicio {
        padding: 0.5em;
        font-size: 18px;
    }

    nav.barra-navegacion button {
        padding: 0.5em;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    main {
        padding: 0.5em;
        font-size: 18px;
    }

    .encabezado-contenedor {
        padding: 2em 0;
        height: 30vh;
        font-size: 20px;
    }

    .titulo {
        padding: 0.5em;
        font-size: 1.2em;
    }

    .CAS_Logo {
        width: 100%;
        height: auto;
        max-width: 250px;
    }
    .texto_inicio {
        padding: 0.5em;
        font-size: 16px;
    }

    nav.barra-navegacion button {
        padding: 0.5em;
        font-size: 0.8em;
    }

    footer {
        font-size: 14px;
    }
}
