:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--second-bg-color)
}

main {
    display: flex;
    flex-direction: column;
    padding: 2em;
    color: var(--text-color);
    font-size: 24px; /* Aumenta el tamaño del texto */
}

/* Estilos para el encabezado */
header {
    position: relative; /* Permitir posicionamiento relativo */
}

/* Estilos para el contenedor del título */
.titulo {
    background-color: var(--bg-color); /* Fondo negro semi-transparente */
    padding: 0.5em 2em;
    border-radius: 5px; /* Bordes redondeados */
    color: #fff; /* Color del texto */
    margin: 0 auto; /* Centra el elemento */
    box-shadow: 0 0 35px 10px var(--bg-color);
    transition: .3s ease;
}

.titulo:hover {
    transform: scale(1.1)
}

.encabezado-contenedor {
    background-image: url('https://static.invenglobal.com/upload/image/2020/08/13/o1597361719998783.jpeg'); /* Reemplazar con tu imagen */
    background-size: cover;
    background-position: bottom;
    color: #fff;
    text-align: center;
    padding: 5em 0;
    height: 50vh;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.IB_Logo {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.CAS_Logo {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transition: .3s ease;
}

.CAS_Logo:hover {
    transform: scale(1.1);
}

.texto_main {
    margin: 0;
    text-align: justify;
    max-width: 1000px;
}

.imagen_main {
    width: 50%;
    height: auto;
    max-width: 50%;
}

.no-underline {
    text-decoration: none;
    color: inherit
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

nav.barra-navegacion {
    background-color: var(--bg-color);
    padding: 2.5em 0;
    position: relative;
    width: 100%;
    text-align: center;
}

nav.barra-navegacion button {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    padding: 0.5em 1em 0.2em 1em;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
    margin-left: 0 5px;
    border-bottom: 3px solid transparent;
    transition: .5s ease;
}

nav.barra-navegacion button:hover,
nav.barra-navegacion button.active {
    color: cyan;
    border-bottom: 3px solid cyan;
}

footer {
    background-color: #080808;
    color: white;
    padding: 0.5em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 1263px) {
    main {
        padding: 1em;
        font-size: 20px; /* Reduce el tamaño del texto */
    }

    .encabezado-contenedor {
        padding: 3em 0;
        height: 40vh;
        font-size: 24px;
    }

    .titulo {
        padding: 0.5em 1em;
        font-size: 1.5em;
    }

    .CAS_Logo {
        width: 80%;
        height: auto;
        max-width: 300px;
    }

    .texto_main {
        padding: 0.5em;
        font-size: 18px;
    }

    .imagen_main {
        width: 100%;
        max-width: 100%;
    }

    .GLP_Logo, .IB_Logo {
        width: 100px;
    }

    .IB_Logo {
        left: 110px;
    }

    nav.barra-navegacion button {
        padding: 0.5em;
        font-size: 0.9em;
    }

    nav.barra-navegacion button:hover {
        border-bottom: none;
    }
}

@media (max-width: 716px) {
    main {
        padding: 0.5em;
        font-size: 18px;
    }

    .encabezado-contenedor {
        padding: 2em 0;
        height: 30vh;
        font-size: 20px;
    }

    .titulo {
        padding: 0.5em;
        font-size: 1.2em;
    }

    .CAS_Logo {
        width: 100%;
        height: auto;
        max-width: 250px;
    }

    .texto_main {
        padding: 0.5em;
        font-size: 16px;
    }

    .imagen_main {
        width: 100%;
        max-width: 100%;
    }

    .GLP_Logo, .IB_Logo {
        width: 50px;
    }

    .IB_Logo {
        left: 50px
    }

    nav.barra-navegacion button {
        padding: 0.5em;
        font-size: 0.8em;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 471px) {
    .GLP_Logo, .IB_Logo {
        display: none;
    }
}